body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.repoRow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.repoRow:nth-of-type(odd){
    background-color: #efefef;
}

.repoRow:nth-of-type(even){
    background-color: #ffffff;
}